@import "tailwindcss";

:root {
  --background: #140d30;
  --foreground: #ededed;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: radial-gradient(circle at center, var(--background) 0%, #262544 100%);
}
