@import "tailwindcss";

:root {
  --background: #262544;
  --foreground: #ededed;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: radial-gradient(circle at center, var(--background) 0%, #140d30 100%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}